table, th, td {
	    
   border: 1px solid black;

}

table{
	margin-left:40px;
	margin-top:40px;
	
}
th{

	height: 30px;
	background-color: #33CC66;
    color: white;

}

body {
	margin: 0px;
	padding: 0px;
}

h1.menu{
	margin-left:40px;
}

div.tracker{
	overflow-x:auto;
}

div.addlist{
	margin-right:25px;
}

div.content{
	padding:40px;
}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 0.4em 0em;
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.20em;
		color: white;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #333333;
	}
.container {
	width: 100%;
	margin: 0px auto;
	background-color: #333333;
	position: absolute;
	bottom: 0;
}

#header 
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	
	#logo 
	{
		width: 700px;
		height: 100px;
		margin: 0 auto;
		padding: 0em 0em;
		color: white;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		

	}
	
	#header-wrapper
{
	overflow: hidden;
	background-size: 100%;
	padding: 0em 0em 0em 0em;
    background: #333333;
}
	#header-wrapper2
{
	overflow: hidden;
	background-size: 70%;
	padding: 0em 0em 0em 0em;
    background: #333333;
}



/*********************************************************************************/
/* Contact Us                                                                    */
/*********************************************************************************/

#contact
{
	color: #4f6fad;
	font-size: 1.2em;
	position: relative;
	padding-left: 19px;
	display: block;
	float: left;
	width: 35%;
	margin-left: 20px;
	height: 47%;
	border: 1px solid #cfcfcf;
}

h3.conthead
{
	font-size: 1.5em;
	padding-bottom:0px;
	padding-top: 15px;
}

input
{
	margin-bottom: 9px;
	margin-top: 7px;
	padding: 5px;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.7em 0 0.5em;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}
.btn.btn-submit.cdm{
	margin-left:40px;
	margin-right:40px;
	margin-top:120px;
	font-weight: 500;
	padding: 0.5em 0.5em;
  font-size: 2.925em;
}

.btn.btn-submit.tiffin{
	margin-left:40px;
}






#menu {
	overflow: hidden;
	height: 300px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

